*.class
*.properties
CryptoCloud/master_key
CryptoCloud/pub_key
CryptoCloud/new_priv_key
*a.txt
CryptoCloud/nbproject/*
*.cpabe
/CryptoCloud/dist/
CryptoCloud/build
.DS_store
CryptoCloud/priv_key
CryptoCloud/priv_key_TC
CryptoCloud/teacher_priv_key
